{% extends "base.html" %}
{% block active-index %}
  class="active"
{% endblock %}


{% block css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="/static/js/jquery.min.js"></script>    
<script src="/static/js/scrollTop.js"></script> 

<script  type="text/javascript">
	try {
	    if (window.console && window.console.log) {
	        console.log("author: wang peng\ne-mail:buaawp@gmail.com");
	        console.log("\"Talk is cheap , show me the code\"");	        
	        console.log("@2015 leettest\n")
	    }
	} catch(e) {
	
	}
</script>

{% endblock %}

{% block content %}

<div class ="container">
  <div class="col-md-8">
        <div class="row topbox">
          {% for block in blocks%}
            <div class="col-md-4 topblock">      
              <h2>{{block.name}}</h2>
              <p>{{block.description}}</p>
              <p><a class="btn btn-primary" href="{{block.url}}" role="button">View details &raquo;</a></p>
            </div>
          {% endfor%}
        </div>  

        <div class="row contentbox">
        {% for article in articles%}          
            <div class="contentblock">
              <div class="category">{{ article.category.name }}</div>
              <h3 ><a href="{% url 'blog:detail' article.id %}">{{ article.caption }}</a></h3>              
                <div class="contentblock-meta" >{{ article.publish_time|date:"Y-m-d H:i" }} by {{ article.author }} | 阅读({{ article.readcount}})</div>
                 
                {{ article.content|safe|truncatechars_html:200}} 

            </div><!-- /.contentblock -->
          {% endfor%}
          </div>  
  </div>


       <div class="col-md-4 sidebox">
        <div class="sideblock">
          <h3 class="sideblock_top">
            排行榜
          </h3>
          <div class="sideblock_item">
            <ol>
              <li><h5>1</h5></li>
              <li><h5>2</h5></li>
              <li><h5>3</h5></li>
              <li><h5>4</h5></li>
            </ol>
            </div>
         </div>
       </div>


  </div>
</div>

{% endblock %}


{%block page_footer%}
    <div class="gotop btn btn-success" id="gotobg" title="回到顶部">&and;</div>
{% endblock %}

