{% extends "base.html" %}
{% block active-index %}
  class="active"
{% endblock %}


{% block css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script  type="text/javascript">

	try {
	    if (window.console && window.console.log) {
	        console.log("author: wang peng\ne-mail:buaawp@gmail.com");
	        console.log("\"Talk is cheap , show me the code\"");	        
	        console.log("@2015 leettest\n")
	    }
	} catch(e) {
	
	}

</script>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, Testers!</h1>
        <p></p>
        <p>SHOW ME THE CODE </p>
        <p><a class="btn btn-lg btn-success" href="/blog" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for block in blocks%}
        <div class="col-md-4">      
          <h2>{{block.name}}</h2>
          <p>{{block.description}}</p>
          <p><a class="btn btn-primary" href="{{block.url}}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor%}
      </div>
    </div>
{% endblock %}