{% extends "base.html" %}
{% block active-index %}
  class="active"
{% endblock %}


{% block css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script  type="text/javascript">

	try {
	    if (window.console && window.console.log) {
	        console.log("author: wang peng\ne-mail:buaawp@gmail.com");
	        console.log("\"Talk is cheap , show me the code\"");	        
	        console.log("@2015 leettest\n")
	    }
	} catch(e) {
	
	}

</script>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, Testers!</h1>
        <p></p>
        <p>少年易老学难成，一寸光阴不可轻。 </p>
        <p>未觉池塘春草梦，阶前梧叶已秋声。</p>
        <p><a class="btn btn-lg btn-success" href="/blog" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Python</h2>
          <p>Python is a programming language that lets you work more quickly and integrate your systems more effectively.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Selenium</h2>
          <p>Selenium is a portable software testing framework for web applications. Selenium provides a record/playback tool for authoring tests without learning a test scripting language (Selenium IDE). It also provides a test domain-specific language (Selenese) to write tests in a number of popular programming languages, including Java, C#, Groovy, Perl, PHP, Python and Ruby. The tests can then be run against most modern web browsers.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Testing</h2>
          <p>"Talk is cheap , show me the code ." </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{% endblock %}