{% extends "base.html" %}
{% block active-blog %}
  class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="/static/js/jquery.min.js"></script>    
    <script src="/static/js/scrollTop.js"></script>    
{% endblock %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">

          <p/> 
          
          {% for article in articles%}          
            <hr>
            <div class="blog-post">
              <h2 class="blog-post-title"><a href="{% url 'blog:detail' article.id %}">{{ article.caption }}</a></h2>
              
                <div class="blog-post-meta">
                  <div class="left">{{ article.publish_time|date:"Y-m-d H:i" }} by {{ article.author }}</div>

                  <div class="right">阅读({{ article.readcount}})</div>
                </div>
            
              <pre>
                {{ article.content|safe|truncatechars_html:400}} 
	            </pre> 

	          </div><!-- /.blog-post -->
          {% endfor%}

          <nav>
            <ul class="pager">
              	{% if articles.has_previous %}
			    	      <li><a href="?page={{ articles.previous_page_number }}">前一页</a></li>
      			    {% else %}
      			    	<li><a class="active">前一页</a></li>
      			    {% endif %}
      			
      			    {% for p in page_range %}
      			      {% ifequal p page %}
      			      	<li><a class="active">{{p}}</a></li>
      			      {% else %}
      			      	<li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
      			      {% endifequal %}
      			    {% endfor %}
      			
      			    {% if articles.has_next %}
      			    	<li><a href="?page={{ articles.next_page_number }}">后一页</a></li>
      			    {% else %}
      			    	<li> <a class="active">后一页</a></li>
      			    {% endif %}
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <p/>
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>七年软件测试相关经验。从事软件测试、软件测试工具研发、软件测试信息系统研发，写过web系统、当过项目经理、带过研发团队。</p>
            <p>主要语言：java、python。</p>
          </div>

          <div class="sidebar-module">
            <h4>文章分类</h4>
            <ul class="list-unstyled">
             	{% for category in categorys %}
              		<li><a href="?categoryid={{ category.id }}">{{category.name}}&nbsp;&nbsp;<span class="badge">&nbsp;{{category.article_num}}&nbsp;</span></a></li>
          		{% endfor%}
            </ul>
          </div>

          <div class="sidebar-module">
            <h4>相关链接</h4>
            <ol class="list-unstyled">
              <li><a target="_blank" href="https://github.com/buaawp" ><img src="/static/images/web-icon/github.ico" /> GitHub</a></li>
              <li><a target="_blank" href="http://cn.linkedin.com/in/buaawp"><img src="/static/images/web-icon/linkedin.ico" /> LinkedIn</a></li>
            </ol>
          </div>          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->



  

    <footer class="blog-footer">      
      <p>
        
      </p>
    </footer>

  </div>

{% endblock %}

{%block page_footer%}
    <div class="gotop btn btn-success" id="gotobg" title="回到顶部">&and;</div>
{% endblock %}
