{% extends "base.html" %}
{% block active-blog %}
  	class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
    <link href="/static/js/syntaxhighlighter/styles/shCore.css" type="text/css" rel="stylesheet"/>
	<link href="/static/js/syntaxhighlighter/styles/shThemeDjango.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block js %}
	<script src="/static/js/jquery.min.js"></script>    
	<script type="text/javascript" src="/static/js/scrollTop.js"></script>

	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushXml.js"></script>
	<!--
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
	-->
<script  type = "text/javascript">
	SyntaxHighlighter.all();
    SyntaxHighlighter.defaults['toolbar'] = false;
</script>
{% endblock %}

{% block content %}

    <div class="container "> 
    	<div class="row">
			<div class="blog-main">
			<div class="blog-post">	 
				<p/> 

      			<hr>
	    		<div class="blog-post-title col-sm-11">{{ article.caption }}</div> 	    		
	    		<div class="col-sm-1">
	    			<p><a class="btn btn-success" href="{% url 'blog:list' %}" role="button">&laquo; 返回</a></p>
		        </div>

		     	<div class="col-sm-8">
      				<hr>
		     		<PRE>{{ article.content|safe }}</PRE>
		     	</div>

		     	<div class="col-sm-3 sol-sm-off-1">
		     		<p class="blog-post-meta">作者：<a href="#">{{ article.author }}</a> 
		     		<p class="blog-post-meta">
	      					分类：<a href="../?categoryid={{ article.category.id }}"><span class="label label-primary">{{ article.category }}</span></a> 
	      			</p>
	      			<p class="blog-post-meta">发表时间：{{ article.publish_time|date:"Y-m-d H:i" }} </p>
	      			<p class="blog-post-meta">阅读:({{article.readcount}})</p> 
	      			<p class="blog-post-meta">标签:
	      				{% for tag in tags%}
			                <a class="tag"href="../?tagid={{ tag.id }}" title="{{tag.tag_name}}">{{tag.tag_name}}</a>
			            {%endfor%}
			        </p> 
		     	</div>
	    	</div>
	    	</div>
	    </div>
	    <div class="row">
	    	{% load duoshuo_tags %}
			{% duoshuo_comments %}
		</div>
  	</div>
{% endblock %}

{%block page_footer%}
    <div class="gotop btn btn-success" id="gotobg" title="回到顶部">&and;</div>
{% endblock %}