{% extends "base.html" %}
{% block active-blog %}
  class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The LeetTest Blog</h1>
        <p class="lead blog-description">记录软件测试....</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          {% for article in articles%}
            <div class="blog-post">
              <h2 class="blog-post-title"><a href="show/?id={{ article.id }}">{{ article.caption }}</a></h2>
              <p class="blog-post-meta">{{ article.publish_time|date:"Y-m-d H:i" }} by {{ article.author }}</p>
              <pre>
              {{ article.content|safe|truncatechars_html:400}} 
	          </pre> 
	        </div><!-- /.blog-post -->
          {% endfor%}

          <nav>
            <ul class="pager">
              	{% if articles.has_previous %}
			    	<li><a href="?page={{ articles.previous_page_number }}">前一页</a></li>
			    {% else %}
			    	<li><a class="active">前一页</a></li>
			    {% endif %}
			
			    {% for p in page_range %}
			      {% ifequal p page %}
			      	<li><a class="active">{{p}}</a></li>
			      {% else %}
			      	<li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
			      {% endifequal %}
			    {% endfor %}
			
			    {% if articles.has_next %}
			    	<li><a href="?page={{ articles.next_page_number }}">后一页</a></li>
			    {% else %}
			    	<li> <a class="active">后一页</a></li>
			    {% endif %}
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>软件测试七年工作经验。从事软件测试、软件测试工具开发、软件测试信息系统开发，做过ruby、java、python。写过web系统、当过项目经理、带过研发团队。</p>
            <p>2015年主要研究django。</p>
          </div>
          <div class="sidebar-module">
            <h4>文章分类</h4>
            <ol class="list-unstyled">
             	{% for category in categorys %}
              		<li><a href="?categoryid={{ category.id }}">{{category.name}}({{category.article_num}})</a></li>
          		{% endfor%}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>相关链接</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/buaawp">GitHub</a></li>
              <li><a href="https://my.utest.com/platform/profile/dcb432b29d3d11e4bf8522000aa410c3">uTest</a></li>
              <li><a href="http://cn.linkedin.com/in/buaawp">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->


    <footer class="blog-footer">      
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>
{% endblock %}
