{% extends "base.html" %}
{% block active-blog %}
  	class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block js %}
<link href="/static/js/syntaxhighlighter/styles/shCore.css" type="text/css" rel="stylesheet"/>
<link href="/static/js/syntaxhighlighter/styles/shThemeDjango.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
<script  type = "text/javascript">
	SyntaxHighlighter.all();
    SyntaxHighlighter.defaults['toolbar'] = false;
</script>
{% endblock %}

{% load comments %} 

{% block content %}
    <div class="container "> 
    	<div class="row">
			<div class="blog-main">
			<div class="blog-post">	 
				<p/> 

      			<hr>
	    		<div class="blog-post-title">{{ article.caption }}</div> 
	      		<p class="blog-post-meta">分类：<a href="#"><span class="label label-primary">{{ article.category }}</span></a></p>
	      		<p class="blog-post-meta">作者：<a href="#">{{ article.author }}</a> | 发表时间：{{ article.publish_time|date:"Y-m-d H:i" }}</p>
      			<hr>
		     	<PRE><div class="blog_description">{{ article.content|safe }}</div></PRE>
	    	</div>
	    	</div>
	    </div>
	     
	          
	    <div class="comments">
	      	<a name="blog_comments" id="comments"></a>
	      	{% get_comment_count for article as comment_count %}
	      	<div class="comments_nav">评论({{ comment_count }})</div>
	      	{% ifequal comment_count 0 %}
	        	<div class="comments_body">
	          	<div class="comment_container">没有评论
	        	</div>
	      	{% else %}
	        	{% get_comment_list for article as comments %}
		        	<div class="comments_body">
		            	{% for comment in comments %}
		            	<div class="blog-comment blog-comment-info">
		              	<div class="comment_id"><a href="{{ comment.user_url }}"><img src="/static/images/hp.jpg" width="42" height="42" /></a></div>
		              	<div class="cmt_user_info">
		                	<span class="li_small_2">{{ comment.user_name }}</span>
		                	<span class="li_small_2">{{ comment.submit_date|date:"Y-m-d H:i"}}</span>
		                	<span class="reply_comment" id="{{ comment.user_name }}"><a href="#newcomment">回复</a></span>
		              	</div>
		              	<div id="comment_content">{{ comment.comment }}</div>
		            </div>
	            {% endfor %}
	      	{% endifequal %}
	      </div>
	            
	      <div class="comments_nav"><h4><span class="label label-success">新的评论</span></h4></div>
	      {% get_comment_form for article as blog_form %}
	      <div class="comments_body">
	        <div class="comment_form">
	          	<form class="form-horizontal" action="{% comment_form_target %}" method="post" id="cmt_sub_form">
	            	{% csrf_token %}
	            	{{ blog_form.object_pk }}
	            	{{ blog_form.content_type }}
	            	{{ blog_form.timestamp }}
	            	{{ blog_form.site }}
	            	{{ blog_form.submit_date }}
	            	{{ blog_form.security_hash }}
	    			
	            	<div class="control-group">
	              		<label class="control-label" for="id_name">用户名： </label>
	              		<div class="controls">
	                	<input type="text" id="id_name" class="form-control" name="name" placeholder="请输入您的用户名" value="{{ user.username }}"/>
	              	</div>
	            	</div>
	            	<div class="control-group">
	              		<label class="control-label" for="id_email">E-mail： </label>
	              		<div class="controls">
	                		<input class="form-control" id="id_email" type="email" name="email" placeholder="请输入您的邮箱地址" value="{{ user.email }}"/>
	              		</div>
	            	</div>
	            	<div class="control-group">
	              		<label class="control-label" for="id_email">网址： </label>
	              		<div class="controls">
	                		<input class="form-control" id="id_url" type="url" name="url" placeholder="请输入您的网址" value="{{ user.url }}"/>
	              		</div>
	            	</div>
	            	<a name="newcomment" id="newcomment"></a>
	            	<div class="control-group">
	              		<label class="control-label" for="id_comment">评论： </label>
	              		<div class="controls">
	                		<textarea class="form-control" id="id_comment" name="comment" placeholder="请输入评论内容"></textarea>
	              		</div>
	            	</div>
	            	<div class="controls">
	              		<div class="form-actions">
	                		<input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>
	                		<input type="hidden" name="next" value="/blog/show?id={{ article.id }}"/>
	              		</div>
	            	</div>
	          	</form>
	        </div>
	      </div>
	    </div>    
  	</div>
{% endblock %}
