{% extends "base.html" %}
{% block active-crowd %}
  class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="../static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The LeetTest Blog</h1>
        <p class="lead blog-description">记录软件测试....</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          {% for article in articles%}
            <div class="blog-post">
              <h2 class="blog-post-title">{{ article.caption }}</h2>
              <p class="blog-post-meta">{{ article.publish_time }} by {{ article.author }}</p>
              <PRE>
                {{ article.content }}    
              </PRE>        
            </div><!-- /.blog-post -->
          {% endfor%}
		</div><!-- /.blog-main -->
		<div>          
			<table class="table table-hover">
			   <caption>TestCycle List</caption>
			   <thead>
			      <tr>
			         <th>名称</th>
			         <th>简介</th>
			         <th>URL</th>
			      </tr>
			   </thead>
			   <tbody>
			   	{% for testcycle in testcycles%}
			      <tr>
			         <td><a href="testcycle_show?id={{testcycle.id}}">{{ testcycle.name }}</a></td>
			         <td>{{ testcycle.description }}</td>
			         <td>{{ testcycle.website }}</td>
			      </tr>
			    {% endfor %}
			   </tbody>
			</table>


        </div>

        

      </div><!-- /.row -->

  </div>
{% endblock %}
