{% extends "base.html" %}
{% block active-crowd %}
  class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container"> 
		<form action="{% url 'crowd:testcycle_editsave'%}" method="post">
      {% csrf_token %}
      		<input name="id" type="hidden" value="{{testcycle.id}}" ><br/>
			请输入名字<input name="name" type="text" value= {{testcycle.name}}><br/>
			请输入描述<input name="description" type="text" value={{testcycle.description}}><br/>
			请输入网址<input name="website" type="text" value={{testcycle.website}}><br/>
 		 	<input type="submit" value="提交" >
		</form>	
    </div>
{% endblock %}
