{% extends "base.html" %}
{% block active-tool %}
  	class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% load comments %} 

{% block content %}
    <div class="container "> 
    	<div class="row">
			<div class="blog-main">
			<div class="blog-post">	 
				<p/> 

      			<hr>
      			<div class = "row">
      			<div class="col-sm-2">
      				<img class="img-rounded" src="{{ tool.logo.url }}" alt="Generic placeholder image" width="80" height="80">
	    		</div>
	    		<div class="blog-post-title col-sm-9">
	    			<p class="text-left">{{ tool.name }}</p>
	    			<blockquote>
	    				<footer>{{ tool.summary }}</footer>
	    			</blockquote>
	    		</div> 
	    		<div class="col-sm-1">
	    		<p><a class="btn btn-success" href="../" role="button">&laquo; 返回</a></p>
		        </div>
	    		</row>
	    		
	    		<div class="col-sm-12"><hr></div>	      		
      			<div class="col-sm-4">
      				<img class="img-thumbnail" src="{{ tool.picture.url }}" alt="Generic placeholder image" width="240" height="240">
	    		</div>
	      		<div class="col-sm-8">
			     	<PRE>
			      		<div class="blog_description">{{ tool.description|safe }}</div>
			   		</PRE>
		   		</div>
	    	</div>
	    	</div>
	    </div>	        
  	</div>
{% endblock %}
