{% extends "base.html" %}
{% block active-tool %}
  class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/tool.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="tool-header" >
    <h1 class="tool-title">The LeetTest Tool</h1>
    <p class="lead tool-description">记录软件测试工具....</p>
  </div>

  <div class="container">

  <div class="row">


    <h3>软件测试工具</h3>
    <div class="col-sm-3 soft_sidebar">
        <div class="soft_sidebar">
            <div class="submit_a_new_tool"> <a class="btn btn-success" href="#">提交新工具</a> </div>
            <div class="soft_tags">
               <h3>标签</h3>
               <p>
                    <a class="tag{%if not tagid %} tag_cur{%endif%}" href="{% url 'tool:list' %}" title="全部">全部<em>({{total_num}})</em></a>
                    {% for tag in tags%}
                      <a class="tag {% ifequal tagid tag.id %} tag_cur{%endifequal%} " href="?tagid={{ tag.id }}" title="{{tag.tag_name}}">{{tag.tag_name}}<em>({{tag.tool_num}})</em></a>
                    {%endfor%}
               </p>
            </div>
        </div>
    </div>

    <div class="col-sm-9 soft_list">
       
          {% for tool in tools%}
            <div class="soft_box">
              <div><h4>{{ tool.name }}</h4></div>
              <div class="soft_box_front">
                <img src="{{ tool.logo.url }}" alt="">
              </div>
              <div class="soft_box_back">
                <p>{{ tool.summary|safe}}</p>
                <a href="{% url 'tool:detail' tool.id %}" target="_blank">Learn More</a>
              </div>

            </div><!-- /.col-md-4 -->
          {% empty %}
            <h3><em>No Tool Exist In This Tag!</em></h3>
          {% endfor%}  
    </div>

  </div>

    <footer class="tool-footer">      
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

  </div>
 
{% endblock %}
