{% extends "base.html" %}
{% block active-tool %}
  	class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/tool.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container "> 
    	<div class="row">
			<div class="tool-main">
				<div class="tool-post">	 
					<p/> 

	      			<hr>
	      			<div class = "row">
		      			<div class="col-sm-2">
		      				<img class="img-rounded" src="{{ tool.logo.url }}" alt="Generic placeholder image" width="80" height="80">
			    		</div>

			    		<div class="tool-post-title col-sm-9">
			    			<p class="text-left">{{ tool.name }}</p>
			    			<p class="text-left"><a href="{{ tool.url }}" target="_blank">{{ tool.url }}</a></p>
			    			<blockquote>
			    				<footer>{{ tool.summary }}</footer>
			    			</blockquote>
			    		</div> 

			    		<div class="col-sm-1">
			    		<p><a class="btn btn-success" href="{% url 'tool:list' %}" role="button">&laquo; 返回</a></p>
				        </div>

		    		</div><!--/.row-->
		    		
		    		<div class="soft_main">

		      			<div class="col-sm-5">
			      			<h3>软件截图</h3>
		      				<img class="img-thumbnail" src="{{ tool.picture.url }}" alt="Generic placeholder image" width="95%" height="95%">
			    		</div>

			      		<div class="col-sm-7">
			      			<h3>详细描述</h3>
					     	<PRE>
					      		<div class="tool_description">{{ tool.description|safe }}</div>
					   		</PRE>
			      			<h3>标签</h3>
					     	<a class="tag"href="#" title="全部">全部<em>(10)</em></a>
                    		<a class="tag"href="#" title="标注工具">标注工具<em>(1)</em></a>
				   		</div>
				   	</div>

		    	</div><!--/.tool-post-->
	    	</div><!--/.tool-main-->
	    </div><!--/.row-->   
	    
	    <div class="row">
	    	{% load duoshuo_tags %}
			{% duoshuo_comments %}
		</div>   
  	</div><!--/.container-->   
{% endblock %}
