{% extends "base.html" %}
{% block active-tool %}
  class="active"
{% endblock %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The LeetTest Tool</h1>
        <p class="lead blog-description">记录软件测试工具....</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

	 		<div class="row">
	 			{% for tool in tools%}
		        <div class="col-md-4">
		          <img class="img-rounded" src="{{ tool.logo.url }}" alt="Generic placeholder image" width="80" height="80">
		          <h2 class="text-info">{{ tool.name }}</h2>
		          <pre>{{ tool.summary|safe}}</pre>
		          <p><a class="btn btn-default" href="{% url 'tool:detail' tool.id %}" role="button">View details &raquo;</a></p>
		        </div><!-- /.col-md-4 -->
		        {% endfor%}
	      	</div><!-- /.row -->
      	
          	<nav>
	            <ul class="pager">
	              	{% if tools.has_previous %}
				    	<li><a href="?page={{ tools.previous_page_number }}">前一页</a></li>
				    {% else %}
				    	<li class="active"><a>前一页</a></li>
				    {% endif %}
				
				    {% for p in page_range %}
				      {% ifequal p page %}
				      	<li class="active"><a>{{p}}</a></li>
				      {% else %}
				      	<li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
				      {% endifequal %}
				    {% endfor %}
				
				    {% if articles.has_next %}
				    	<li><a href="?page={{ articles.next_page_number }}">后一页</a></li>
				    {% else %}
				    	<li class="active"> <a>后一页</a></li>
				    {% endif %}
	            </ul>
	          </nav>
		</div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2015</a></li>
              <li><a href="#">February 2015</a></li>
              <li><a href="#">January 2015</a></li>
              <li><a href="#">December 2014</a></li>
              <li><a href="#">November 2014</a></li>
              <li><a href="#">October 2014</a></li>
              <li><a href="#">September 2014</a></li>
              <li><a href="#">August 2014</a></li>
              <li><a href="#">July 2014</a></li>
              <li><a href="#">June 2014</a></li>
              <li><a href="#">May 2014</a></li>
              <li><a href="#">April 2014</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->


    <footer class="blog-footer">      
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>
 
{% endblock %}
