/*
 * Globals
 */



/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}



/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(/static/images/banner-slim.png) no-repeat;
  background-size:960px 180px;
  background-color: #2A4F62;
  background-position: center;
  color:#F6F6F6;
  padding-left:40px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;

  background-color: #f9f9f9;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module img{
  height: 14px;
  width: 14px;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 40px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 32px;

}
.blog-post-meta {
  width: :100%;
  color: #999;
  font-size:14px;
}

.blog-post-meta .left{
  float:left;
  text-align: left
}
.blog-post-meta .right{
  text-align: right;
  margin-right: 5%
}

.blog-post pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width:0px;
  border-left-width:4px;
  border-left-color: #228B22;
  border-radius:3px;
  background-color: #FFFFFF;
  
}


/* Pagination */
.pager {
  margin-bottom: 20px;
  text-align: left;
}

.pager > li > a {
  width: 80px;
  padding: 2px 10px;
  text-align: center;
  border-radius: 20px; /*按钮圆角*/
}

.active{
  font-weight: 500;
  color: #cdddeb;
}


/*
 * Footer
 */

.blog-footer {
  padding: 12px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}




.gotop{  
  display:none;
  left: 80%;
  bottom:30px;
  position:fixed;
  z-index: 200;
  filter:alpha(opacity=80); /*IE滤镜，透明度70%*/
  -moz-opacity:0.8; /*Firefox私有，透明度70%*/
  opacity:0.8;/*其他，透明度70%*/
  font-weight:bold;
}

a.tag{background-color:#f7f7f7; border:1px solid #DDD; color:#333; font-size:14px; margin:0 6px 8px 0; padding:0 10px; text-decoration:none; white-space:nowrap; position:relative; border-radius:2px; height:24px; line-height:24px; display:inline-block;}
a.tag:hover{background-color:#60befe; color:#fff;}

