/*
 * Globals
 */


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}




/*
 * Masthead for nav
 */

.crowd-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.crowd-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.crowd-nav-item:hover,
.crowd-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.crowd-nav .active {
  color: #fff;
}
.crowd-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}



/*
 * crowd name and description
 */

.crowd-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(/static/images/banner0.jpg) repeat 0 0;
  background-size:100% 100%;
}
.crowd-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.crowd-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.crowd-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 40px;
  text-align: left;
}

.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px; /*按钮圆角*/
}

.active{
  font-weight: 500;
  color: #cdddeb;
}



/*
 * crowd posts
 */

.crowd-post {
  margin-bottom: 40px;
}
.crowd-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.crowd-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.crowd-footer {
  padding: 12px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.crowd-footer p:last-child {
  margin-bottom: 0;
}

.crowd-comment{
  padding:20px;
  margin:20px 0;
  border:1px solid #eee;
  border-left-width:5px;
  border-radius:3px
}

.crowd-comment-info{
  border-left-color:#1b809e
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}