@charset "utf-8";


.tool-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.tool-description {
  font-size: 20px;
  color: #999;
}

/*
 * Footer
 */

.tool-footer {
  padding: 12px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.tool-footer p:last-child {
  margin-bottom: 0;
}



.soft_sidebar{ margin:0 auto; padding:20px 0;}
.soft_sidebar h2{font-size:24px; margin-bottom:20px;}
.soft_sidebar h3{height:35px; line-height:35px; font-size:14px; border-bottom:#EEE solid 1px; margin-bottom:10px;}
.soft_sidebar .submit_a_new_tool{margin-bottom:20px;}
.soft_sidebar .submit_a_new_tool .btn{height:41px; width:90%; font-size:18px; background-color: #99CC33;border-width: 0;letter-spacing:2px}

.soft_tags{margin-bottom:20px;}
a.tag{background-color:#f7f7f7; border:1px solid #DDD; color:#333; font-size:14px; margin:0 6px 8px 0; padding:0 10px; text-decoration:none; white-space:nowrap; position:relative; border-radius:2px; height:30px; line-height:30px; display:inline-block;}
a.tag em{font-style:normal; color:#666; margin-left:2px; display:inline-block; border-left:#DDD solid 1px; padding-left:8px; margin-left:8px;}
a.tag:hover{background-color:#60befe; color:#fff;}
a.tag:hover em{color:#fff; border-left:#60befe solid 1px;}
a.tag_cur{background-color:#60befe; color:#fff; cursor:default;}
a.tag_cur em{color:#fff; border-left:#60befe solid 1px; cursor:default;}
/*.soft_tags p a.tag_cur em{color:#fff; border-left:#60befe solid 1px; cursor:default;}*/


.soft_list{background-color:#F6F7F7; padding-bottom:60px;min-height: 200px}
.soft_list h3 {margin:24px 24px 0;}
.soft_list .soft_box{float:left; width:280px; height:230px; position:relative; overflow:hidden; margin:24px 24px 0;}
.soft_list .soft_box:nth-child(odd){margin-right:0;}
.soft_list .soft_box h4{background-color:#60beff; height:35px; line-height:35px; padding:0 10px; color:#FFF; font-size:14px;margin-top: 0px;margin-bottom: 1px;}

.soft_box_front{background-color:#FFF; height:200px; }
.soft_box_front img{display:block; margin:0 auto;}

.soft_box_back p{margin-bottom:20px;}
.soft_box_back a{display:block; border:#FFF solid 1px; border-radius:4px; height:35px; line-height:35px; width:120px; text-align:center; color:#FFF; font-size:14px; text-decoration:none; margin:0 auto;}
.soft_box_back a:hover{background-color:#8cd0ff;}
.soft_box_back{z-index:2; background-color:#60beff; color:#FFF; position:absolute; height:100%; top:230px; left:0; -webkit-transition:all .5s ease-in-out; transition:all .4s ease-in-out; padding:10px; word-wrap:break-word;}
.soft_box:hover .soft_box_back{top:35px;}

.soft_main h3 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-top: 0px;
    margin-bottom: 10px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}